@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'CC Wild Words Roman';
  src: url('/CC Wild Words Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
  color: black;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
